<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatagramService" />
                <binding name="BasicHttpBinding_IPeerService" />
                <binding name="BasicHttpBinding_INickService" />
                <binding name="BasicHttpBinding_IMemoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/datagram" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDatagramService" contract="EchoDatagramClient.IDatagramService"
                name="BasicHttpBinding_IDatagramService" />
            <endpoint address="http://localhost:8085/server/peer/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPeerService" contract="PeerServiceReference.IPeerService"
                name="BasicHttpBinding_IPeerService" />
            <endpoint address="http://localhost:8085/server/nick/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INickService" contract="NickServiceReference.INickService"
                name="BasicHttpBinding_INickService" />
            <endpoint address="http://localhost:8085/server/memo/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMemoService" contract="MemoServiceReference.IMemoService"
                name="BasicHttpBinding_IMemoService" />
        </client>
    </system.serviceModel>
</configuration>