<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="peer.url" value="localhost" />
      <add key="peer.port" value="8081" />
      
      <add key="server.url" value="localhost" />
      <add key="peer.port" value="8085" />
    </appSettings>
</configuration>